* {
  margin: 0;
  padding: 0;
  font-family: "Belanosima", sans-serif;
}

a {
  color: inherit;
}

#logo {
  filter: invert(0.9);
  height: 80%;
}

.wrapper {
  display: flex;

  .form-wrapper {
    background-color: aliceblue;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 3rem;

    .section-one {
      font-size: xx-large;
      width: 80%;
      padding-bottom: 4rem;

      p:last-child {
        margin-top: 1.2rem;
      }
    }

    .section-two {
      background-color: white;
      border: 1px solid red;
      height: 300px;
    }

    .section-three {
      padding-top: 2rem;

      .button {
        background-color: rgb(48,71,103);
        color: aliceblue;
        padding: 0.8rem 4rem;
        font-size: large;
        border: none;
        border-radius: 0.5rem;
        width: 7.5rem;
        text-align: center;
      }

      a {
        text-decoration: none;
      }

      p {
        padding-top: 1rem;
        font-size: large;
        color: rgb(48,71,103);
      }
    }
  }

  .logo-wrapper {
    background-image: url('content/background.jpg');
    background-size: cover;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .backdrop {
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      height: 7rem;
      margin-top: 15rem;

      h1 {
        color: aliceblue;
        letter-spacing: 2px;
      }
    }

    .footer {
      text-align: center;
      display: flex;
      color: aliceblue;
      justify-content: center;
      margin: 0.2rem;
      padding: 0.2rem;

      a {
        padding-left: 0.3em;
        padding-right: 0.3em;
        font-weight: 400;
      }
    }
  }
}