* {
  margin: 0;
  padding: 0;
  font-family: "Belanosima", sans-serif;
}

a {
  color: inherit;
}

#logo {
  filter: invert(0.9);
  height: 80%;
}

.wrapper {
  display: flex;
}
.wrapper .form-wrapper {
  background-color: aliceblue;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.wrapper .form-wrapper .section-one {
  font-size: xx-large;
  width: 80%;
  padding-bottom: 4rem;
}
.wrapper .form-wrapper .section-one p:last-child {
  margin-top: 1.2rem;
}
.wrapper .form-wrapper .section-two {
  background-color: white;
  height: 320px;
  margin: 0 -3rem 0 -3rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}
.wrapper .form-wrapper .section-two p:first-child {
  padding: 1.2rem 3rem;
  font-size: xx-large;
}
.wrapper .form-wrapper .section-two form {
  display: flex;
  justify-content: start;
}
.wrapper .form-wrapper .section-two form .stack {
  width: clamp(8rem, 50%, 20rem);
}
.wrapper .form-wrapper .section-two input, .wrapper .form-wrapper .section-two label {
  display: block;
  margin: 0.3rem 3rem;
}
.wrapper .form-wrapper .section-two input {
  margin-bottom: 1.5rem;
  border: rgba(0, 0, 0, 0.1) 2px solid;
  border-radius: 4px;
  width: clamp(6rem, 80%, 20rem);
  height: 1.5rem;
}
.wrapper .form-wrapper .section-two input:focus {
  outline: none !important;
  border: hsl(215, 36%, 35%) 2px solid;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.wrapper .form-wrapper .section-two input:not(:focus):invalid {
  outline: none !important;
  border: red 2px solid;
}
.wrapper .form-wrapper .section-three {
  padding-top: 2rem;
}
.wrapper .form-wrapper .section-three button {
  background-color: hsl(215, 36%, 35%);
  color: aliceblue;
  font-size: large;
  border: none;
  border-radius: 0.5rem;
  width: clamp(8rem, 50%, 13rem);
  text-align: center;
  padding: 0.8rem 2rem;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
}
.wrapper .form-wrapper .section-three button:hover {
  background-color: hsl(215, 36%, 25%);
}
.wrapper .form-wrapper .section-three button:active {
  background-color: hsl(215, 36%, 35%);
}
.wrapper .form-wrapper .section-three a {
  text-decoration: none;
  color: rgb(48, 71, 103);
}
.wrapper .form-wrapper .section-three p {
  padding-top: 1rem;
  font-size: large;
}
.wrapper .logo-wrapper {
  background-image: url("content/background.jpg");
  background-size: cover;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .logo-wrapper .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 7rem;
  margin-top: 15rem;
}
.wrapper .logo-wrapper .backdrop h1 {
  color: aliceblue;
  letter-spacing: 2px;
}
.wrapper .logo-wrapper .footer {
  text-align: center;
  display: flex;
  color: aliceblue;
  justify-content: center;
  margin: 0.2rem;
  padding: 0.2rem;
}
.wrapper .logo-wrapper .footer a {
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-weight: 400;
}

/*# sourceMappingURL=styles.css.map */
